{% block header %}
{% set menus = h.get_dynamic_menu() %}
{% set is_bootstrap2 = h.is_bootstrap2() %}
<a href="#content" class="hide">{{ _('Skip to content') }}</a>

<header class="navbar navbar-static-top masthead">
    {% if g.debug and not g.debug_supress_header %}
    <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
    {% endif %}
    <div class="header_new banner_new page-heading_new">
        <div class="container">
            <div class="page-header_new">
                <div class="main-heading">
                    <h1>
                    {% block header_logo %}
                        {% if g.site_logo %}
                            <a class="logo" href="/dataset"/> <img src="{{ g.site_logo }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" id=header-logo/></a>
                        {% else %}
                            <h1><a href="{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}">{{ g.site_title }}</a></h1>
                        {% endif %}
                        {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
                    {% endblock %}
                    </h1>
                </div>

                <div class="toolbar">
                        {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li class="home"><a href="{{ h.url(controller='package', action='search') }}"><i class="fa fa-home"></i><span> {{ _('Home') }}</span></a></li>
                            <li class="active">{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
                        </ol>
                        {% endblock %}
                    <div class="add_action">
                        <a href="{{ h.url_for('organizations_index') }}" class="btn btn_new">{{ _('Organizations') }}</a>
                        <a href="https://www.data.gov/catalog-help/" class="btn btn-primary question"><i class="fa fa-question-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    {% if menus['submenus'] %}
<div class="sub-nav banner-nav">
    <div class="container">
        <nav role="navigation" class="topic-subnav">
            <ul class="nav navbar-nav" id="menu-community">
                {% for submenu in menus['submenus'] if not submenu['parent_id'] %}
                    {% if submenu['has_children'] %}
                        {% set parent_id = submenu['id'] %}
            <li><a href="{{ submenu['link'] }}" class="dropdown-toggle{% if submenu['name']=='Data' %} active{% endif %}" data-toggle="dropdown">{{ submenu['name'] }}<b class="caret"></b></a>
                <ul class="dropdown-menu topics{% if menus['topic_header'] %} {{ menus['topic_header']['class'] }} {% endif %}">
                        {% for sub_submenu in menus['submenus'] if sub_submenu['parent_id'] == parent_id %}
                    <li><a href="{{ sub_submenu['link'] }}">{{ sub_submenu['name'] }}</a></li>
                        {% endfor %}
                </ul>
            </li>
                    {% elif not submenu['parent_id'] %}
                        {% if submenu['name'] == 'Data' %}
            <li><a href="{{ submenu['link'] }}" class="active">{{ submenu['name'] }}</a></li>
                        {% else %}
            <li><a href="{{ submenu['link'] }}">{{ submenu['name'] }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
    {% endif %}
{% endblock %}
